.card {
  width: 70%;
  padding: 20px;
  margin-inline: auto;
  margin-block: 20px;
  background-color: var(--color-water);
}

.card--green {
  background-color: lightgreen;
}

.card--coral {
  background-color: lightcoral;
}

.card--yellow {
  background-color: yellow;
}

.card--brown {
  background-color: rgb(49, 30, 5);
}

.card--red {
  background-color: red;
}
